/*-- scss:defaults --*/
:root {
    --nord0: #2E3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

span.menu-text {
    color: var(--bs-navbar-brand-color) !important;
}

span.menu-text:hover {
    color: var(--bs-navbar-brand-hover-color) !important;
}

code,
h1 code,
h3 code {
    background-color: var(--nord0) !important;
    color: var(--nord5) !important;
}

div.quarto-post .listing-categories .listing-category {
    margin-top: 8px !important;
}

a.no-external {
    line-height: var(--bs-body-line-height);
}

div.quarto-about-trestles .about-entity {
    padding-top: 1.5em !important;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
}

.img-fluid {
    border-radius: .25rem !important;
}

div.card {
    border-color: var(--nord0) !important;
}

div.quarto-post .thumbnail img {
    border-radius: .25rem !important;
}

div.card p {
    margin-bottom: 0 !important;
}

div.card {
    margin-bottom: 1rem !important;
}

#code-annotation-line-highlight {
    margin-left: 0 !important;
    width: calc(100%) !important;
    z-index: 5 !important;
}

#code-annotation-line-highlight-gutter {
    border-top: none !important;
    border-bottom: none !important;
    background-color: transparent !important;
}

div.quarto-post .listing-categories .listing-category {
    color: var(--nord0) !important;
    background-color: var(--nord5) !important;
    border: solid 1px var(--nord0) !important;
}

.termsfeed-com---palette-light.termsfeed-com---nb {
    background-color: var(--nord5) !important;
    border: solid 1px var(--nord0) !important;
    color: var(--nord1) !important;
    font-family: "Noto Sans" !important;
    max-width: 40% !important;
    border-radius: .25rem !important;
}

.termsfeed-com---nb .cc-nb-main-container {
    padding: 1rem !important;
}

.termsfeed-com---palette-light .cc-nb-okagree {
    color: var(--nord0) !important;
    background-color: var(--nord14) !important;
}

// Targets the 'change my preferences' button of the cookie tracker
.termsfeed-com---palette-light .cc-nb-changep {
    color: var(--nord0) !important;
    background-color: var(--nord13) !important;
}

// Target the font of the cookie preference center
.termsfeed-com---palette-light .cc-pc-container {
    font-family: "Noto Sans" !important;
    color: var(--nord0) !important;
    border-radius: .25rem .25rem .25rem .25rem !important
}

// Targets the head of the cookie preferences center
.termsfeed-com---palette-light .cc-pc-head {
    background-color: var(--nord4) !important;
    color: var(--nord0) !important;
    border-radius: .25rem .25rem 0 0 !important
}

// Targets the body content of the cookie preference center
.termsfeed-com---palette-light .cc-cp-body-content {
    background-color: var(--nord4) !important;
    color: var(--nord0) !important;
}

// Targets the footer of the cookie preference center
.termsfeed-com---palette-light .cc-cp-foot {
    background-color: var(--nord4) !important;
    color: var(--nord0) !important;
    border-radius: 0 0 .25rem .25rem !important;
}

// Targets the save my preferences button on the cookie preference center
.termsfeed-com---palette-light .cc-cp-foot-save {
    color: var(--nord0) !important;
    background-color: var(--nord14) !important;
}

// Targets the active tab of the cookie preference center
.termsfeed-com---palette-light .cc-cp-body-tabs-item[active=true] button {
    background-color: var(--nord5) !important;
}

// Targets the inactive tabs of the cookie preference center
.termsfeed-com---palette-light .cc-cp-body-tabs-item {
    background-color: var(--nord4) !important;
}

.termsfeed-com---palette-light .cc-nb-title .termsfeed-com---palette-light .cc-nb-text,
.termsfeed-com---palette-light .cc-pc-head-title-headline,
.termsfeed-com---palette-light .cc-cp-body-content-entry-title,
.termsfeed-com---palette-light .cc-cp-body-content-entry-text,
.termsfeed-com---palette-light .cc-cp-body-tabs-item[active=true] button,
.termsfeed-com---palette-light .cc-cp-foot-byline,
.termsfeed-com---palette-light .cc-pc-head-lang select {
    color: var(--nord0) !important;
}

.termsfeed-com---palette-light .cc-cp-body-tabs-item-link {
    color: var(--nord0) !important
}

.termsfeed-com---palette-light .cc-cp-body-tabs {
    background-color: var(--nord4) !important;
}

.termsfeed-com---palette-light .cc-pc-head-lang select {
    border-radius: .25rem !important;
    background-color: var(--nord6) !important;
}

.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox:checked+label:before {
    background: var(--nord14) !important;
}

.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox+label:before {
    background: var(--nord6) !important;
}

.termsfeed-com---pc-dialog input[type=checkbox].cc-custom-checkbox+label:after {
    background: var(--nord3) !important
}

.termsfeed-com---palette-light .cc-pc-head-close {
    background-color: var(--nord0) !important;
}

.termsfeed-com---pc-dialog .cc-cp-foot-byline a {
    color: var(--nord10) !important
}

div.callout-tip.callout {
    border-left-color: var(--nord14) !important;
}

div.callout-tip.callout-style-default>.callout-header {
    background-color: color-mix(in srgb, var(--nord14) 75%, white 25%) !important;
}

div.callout-important.callout {
    border-left-color: var(--nord11) !important;
}

div.callout-important.callout-style-default>.callout-header {
    background-color: color-mix(in srgb, var(--nord11) 75%, white 25%) !important;
}

div.callout-warning.callout {
    border-left-color: var(--nord13) !important;
}

div.callout-warning.callout-style-default>.callout-header {
    background-color: color-mix(in srgb, var(--nord13) 75%, white 25%) !important;
}

div.callout-caution.callout {
    border-left-color: var(--nord12) !important;
}

div.callout-caution.callout-style-default>.callout-header {
    background-color: color-mix(in srgb, var(--nord12) 75%, white 25%) !important;
}

div.callout-note.callout {
    border-left-color: var(--nord10) !important;
}

div.callout-note.callout-style-default>.callout-header {
    background-color: color-mix(in srgb, var(--nord10) 75%, white 25%) !important;
}