/*-- scss:defaults --*/
/*-- scss:defaults --*/
:root {
    --nord0: #2E3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

span.menu-text {
    color: var(--bs-navbar-brand-color) !important;
}

span.menu-text:hover {
    color: var(--bs-navbar-brand-hover-color) !important;
}

code,
h1 code,
h3 code {
    background-color: var(--nord0) !important;
    color: var(--nord5) !important;
}

div.quarto-post .listing-categories .listing-category {
    margin-top: 8px !important;
}

a.no-external {
    line-height: var(--bs-body-line-height);
}

div.quarto-about-trestles .about-entity {
    padding-top: 1.5em !important;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
}

.img-fluid {
    border-radius: .25rem !important;
}

div.card {
    border-color: var(--nord0) !important;
}

div.quarto-post .thumbnail img {
    border-radius: .25rem !important;
}

div.card p {
    margin-bottom: 0 !important;
}

div.card {
    margin-bottom: 1rem !important;
}

#code-annotation-line-highlight {
    margin-left: 0 !important;
    width: calc(100%) !important;
    z-index: 5 !important;
}

#code-annotation-line-highlight-gutter {
    border-top: none !important;
    border-bottom: none !important;
    background-color: transparent !important;
}

div.quarto-post .listing-categories .listing-category {
    color: var(--nord0) !important;
    background-color: var(--nord8) !important;
    border: solid 1px var(--nord0) !important;
}